[
	{"name":"A+教育","appkey":"ajiaedu","appsecret":"0KXXxuFnEc647Xhf","topic":["PUSH_TOPIC_WITH_AJIA_EDU"]},
	{"name":"A佳教育中学老师版","appkey":"middleteacher","appsecret":"pRdmOXq29AKymlcj","topic":["PUSH_TOPIC_WITH_MIDDLE_TEACHER"]},
	{"name":"小学家长端","appkey":"primaryParent","appsecret":"cJCMJYwTy5SuY0rP","topic":["PUSH_TOPIC_WITH_PRIMARY_PARENT"]},
	{"name":"小学老师端","appkey":"primaryTeacher","appsecret":"MW2owMmDVZ0gMdKX","topic":["PUSH_TOPIC_WITH_PRIMARY_TEACHER"]}
]