[
	{"name":"ajiaedu","appKey":"HlCPBlOShy8pOCFvtbHAl3","masterSecret":"44L8MKjHOB85vPhBbaQzMA"},
	{"name":"middleteacher","appKey":"9Pd4a5LhxE7jFA2wvKYXh9","masterSecret":"p5ZM8xNDVSAwe82NHtZMt1"},
	{"name":"primaryParent","appKey":"35d9991409ff7c8b63991c60","masterSecret":"c7aa8ee41f1274d79af712a0"},
	{"name":"primaryTeacher","appKey":"b2a4e9df7a570a7b8b27fceb","masterSecret":"c471a913a71509c8ac363690"}
]