<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 当前输出文件 -->
        <file>logs/msg-push.log</file>
        <!-- 历史记录文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>backup/msg-push.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        
        <encoder>
            <pattern>%date{HH:mm:ss.SSS}[%-5level]%logger - %msg%n</pattern>
        </encoder>

    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}|%-5level|%logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="java.io.mina" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="com.google" level="ERROR"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.cache" level="INFO"/>
    <logger name="com.xz.msg.push" level="DEBUG"/>

</configuration>